In [1]:
import pandas as pd
import gc

In [2]:
data = pd.read_csv('uci-news-aggregator_subset.csv')

In [4]:
data=data[['TITLE','STORY']]

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 422419 entries, 0 to 422418
Data columns (total 2 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   TITLE   422419 non-null  object
 1   STORY   422419 non-null  object
dtypes: object(2)
memory usage: 6.4+ MB

In [7]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1230 entries, 0 to 1229
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   TITLE   1230 non-null   object
 1   STORY   1230 non-null   object
dtypes: object(2)
memory usage: 19.3+ KB

In [8]:
import re
import nltk

In [9]:
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\user\AppData\Roaming\nltk_data...
[nltk_data]   Unzipping corpora\stopwords.zip.

True

In [10]:
from nltk.corpus import stopwords
from nltk.stem import wordnet
from nltk.stem.porter import PorterStemmer

In [11]:
ps=PorterStemmer()

In [12]:
cleanded_titles=[]

In [14]:
for i in range(len(data)):
  review=re.sub('[^A-Za-z]',' ',data['TITLE'][i])
  review=review.lower()
  review=review.split()
  review=[ps.stem(word) for word in review if not word in stopwords.words('english')]
  review = ' '.join(review)
  cleanded_titles.append(review)

In [15]:
df = pd.DataFrame (cleanded_titles,columns=['Title'])

In [16]:
df['Story']=data['STORY']

In [17]:
df = df.drop_duplicates(subset='Title', keep="first")

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1189 entries, 0 to 1227
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Title   1189 non-null   object
 1   Story   1189 non-null   object
dtypes: object(2)
memory usage: 27.9+ KB

In [19]:
df.to_csv('cleaned_titles_new.csv')